<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        
            <div class="nav">
            <div class="avatar">
                <h1 class="nameAvatar">НОВОСТНОЙ ПОРТАЛ</h1>
            </div>
            <ul class="menu">
                <li>
                    <a href="http://localhost:3000/news">Главная</a>
                </li>
                <li>
                    <nav class="">
                      {{>menu}}
                         </nav>
                </li>
            </ul>
        </div>
        
        
    </header>
    <section class="section">
        
            {{{body}}}
       
    </section>
</body>
</html>